.windows {
  display: flex;
  flex-wrap: nowrap;
  width: 100vw;
  height: 100vh;
}

.windows-frame {
  flex-basis: 20vw;
  border: 20px solid rgb(84, 81, 81);
}

.windows-frame.center{
  flex-basis: 60vw;
  border-left: 0px;
  border-right: 0px;
}

.windows-frame.panel{
  background-color: #fff;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

#my-video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

.video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition-duration: 0.5s;
  transition-property: filter;
  filter: blur(5px) brightness(1000%);
}

.active {
  transition-duration: 0.5s;
  transition-property: filter;
  filter: blur(0px) brightness(100%);
}
